.App {
  max-width: 860px;
  margin: 40px auto;
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #247c41;
  color: #fff;
}

.card-grid {
  position: relative;
  display: flex;
  width: 100%;
  height: 400px; /*Define altura da grid => Posições das bolhas se adaptarão de acordo */
}

.game-info{
  display: flex;
  justify-content: space-between;
}

.scoreboard {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

div.card:nth-child(odd){
  animation-direction: reverse;
}